.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    color: #fff;
    width: 70%;
    background-color: #474747;
    font-size: 20px;
    align-items: center;
}
.element{
    overflow-x: auto;
    width: 100%;
}

@media screen and (max-width: 1090px) {
    .cont{
        width: 96%;
    }
    .element{
        font-size: 34px;
    }
}