.header_log {
    text-align: left;
    font-size: 60px;
    color: #a6a6a6;
    padding: 10px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 5px 20px;
    vertical-align: bottom;
}
.header_name{
    font-size: 20px;
    color: #a6a6a6;
    vertical-align: bottom;
    margin-top: 5%
}

@media screen and (max-width: 500px) {
    .header_log{
        font-size: 25px;
    }
    .header_name{
        display: none;
    }
}