.inp{
    background-color: #595959;
    width: 50%;
    font-size: large;
    text-align: center;
    color: #fff;
    height: 70%;
    width: 70%;
    border: 2px solid #a6a6a6;
    border-radius: 3px;
    margin: auto 0;
    outline: none;
    padding: 0;
}

.button {
    padding: 0;
    background-color: #474747;
    border: 2px solid #a6a6a6;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    height: 80%;
    width: 15%;
    color: #fff;
    margin: 0 5px;
}

.container{
    margin: 30px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 70%;
    justify-content: right;
    align-items: center;
}

@media screen and (max-width: 1500px) {
    .inp{
        width: 70%;
        font-size: 25px;
        height: 75%;
    }
    .button{
        height: 80%;
    }
    .container{
        height: 60px;
    }
}
@media screen and (max-width: 500px) {
    .container{
        width: 100%;
        height: 140px;
        justify-content: right;
    }
    .inp{
        height: 50%;
        width: 96%;
        font-size: 25px;
        margin:auto;
    }
    .button{
        height: 50%;
        width: 98%;
        margin: 10px auto;
        font-size: 40px;
    }
}