.inp{
    background-color: #595959;
    width: 50%;
    font-size: large;
    text-align: center;
    color: #fff;
    height: 100%;
    border: 2px solid #a6a6a6;
    border-radius: 3px;
    margin: auto 0;
    margin-left: 110px;
    outline: none;
}

.button {
    background-color: #474747;
    border: 3px solid #474747;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    width: 100px;
    color: #fff;
    margin: 0 5px;
}

.container{
    margin: 10px 0;
    padding: 0;
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
}