.rootCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    color: #fff;
    min-width: 70%;
    max-height: 100%;
    background-color: #474747;
    font-size: 20px;
    align-items: center;
    overflow-x: auto;
}

@media screen and (max-width: 1090px) {
    .rootCont{
        width: 92%;
        font-size: 17px;
        padding: 0 2%;
    }
}