html{
  width: 100%;
  height: 100%;
  font-family: Verdana,  sans-serif;
}
body{
  height: 100%;
  width: 100%;
}
p{
  font-size: 18px;
  color: white;
  text-align: center;
}

h3{
  font-size: 22px;
  color: white;
}
h3.hidden{
  display: none;
}
#root{
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #595959;
  min-height: 100%;
  width: 100%;
}
body{
  border: 0;
  margin: 0;
}
.out {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper{
  min-height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #262626;
}


